.encabezado_quines_s{
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: $background-color_1;
    padding: 20px;

    img{
        width: 150px;
        height: 150px;
        align-content: center;
    }

.regreso_inicio{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    transition: 1s;
    margin-right: 50px;

    a{
        color: $color_1;
        text-decoration: none;
    }

        &:hover{
            transform: scale(1.2);
        }
    }
}

.tarjetas_peq_gigantes{
    display: flex;

    align-items: center;
    gap: 30px;
    margin: 50px;

    img{
        width: 100%;
        align-content: space-between;
        transition: 0,5s;

        &:hover {
            transform: translate(0px, -12px);
        }
    }
}

.titulo_quienes_somos{
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 30px;
}

.somos p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;

    &::selection{
        background-color: #eaea3a;
    }  
}

.vision{
    h2{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    p{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 50%;

        &::selection{
            background-color: #eaea3a;
        }
    }
}

.mision{
    h2{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    p{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 50%;
        margin-bottom: 100px;

        &::selection{
            background-color: #eaea3a;
        }
    }
}

.logo_quien_s{
    background-color: $background-color_1;
    display: flex;

    justify-content: center;
    padding: 10px;
    width: 100%;

    img{
        width: 100px;
        height: 100px;
        align-content: center;
    }
}