.slider_reserva{
    margin: 80px 300px;
}

.reservacion{
    background-image: url(../multimedia/fondo.jpg);
    background-size: cover;
    border-radius: 4px;
    font-size: 14px;
    padding: 20px;
    color: $color_1;
    margin: 0 auto;
    width: 530px;
    margin-bottom: 130px;

    img{
		border-radius: 50%;
        margin: 0 auto;
		width: 180px;
    }

    button{
        font-size: 14px;
        color: $color_3;
        border: 0;
        outline: none;
        width: 480px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        transition: 1s;

        &:hover{
            transform: scale(0.9);
        }
    }
}