$color_1: #ffffff;
$color_2: #ccc;
$color_3: #000000;
$background-color_1: #515151;

//extend de encabezados
%encabezado {
    background-color: #515151;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .encabezado a {
        background-color: #515151;
    }
}

.logo_header {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    background-color: $background-color_1;
}

.menu {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    gap: 36px;
    background-color: $background-color_1;
    flex-wrap: wrap;
    
    .menu_item a {
        text-decoration: none;
        display: flex;
        color: $color_1;
        font-size: 16px;
        background-color: $background-color_1;
    }
}

.menu_item {
    transform: 1s;

    &:hover {
        transform: scale(1.4);
    }
}

.encabezado_reserva{
    @extend %encabezado;
}

.encabezado_registrarse{
    @extend %encabezado;
}

.encabezado_quines_s{
    @extend %encabezado;
}

.encabezado_restaurantes{
    @extend %encabezado;
}


//extend de footer
%logo_quien_s{
    background-color: $background-color_1;
    display: flex;

    justify-content: center;
    padding: 10px;
    width: 100%;

    img{
        width: 100px;
        height: 100px;
        align-content: center;
    }
}

.footer_registrarse{
    @extend %logo_quien_s;
}

.footer_reserva{
    @extend %logo_quien_s;
}

.footer_restaurante{
    @extend %logo_quien_s;
}