@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;400 & display=swap");
.encabezado_restaurantes, .encabezado_quines_s, .encabezado_registrarse, .encabezado_reserva {
  background-color: #515151;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.encabezado_restaurantes .encabezado a, .encabezado_quines_s .encabezado a, .encabezado_registrarse .encabezado a, .encabezado_reserva .encabezado a {
  background-color: #515151;
}

.logo_header {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  background-color: #515151;
}

.menu {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
  gap: 36px;
  background-color: #515151;
  flex-wrap: wrap;
}
.menu .menu_item a {
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  background-color: #515151;
}

.menu_item {
  transform: 1s;
}
.menu_item:hover {
  transform: scale(1.4);
}

.footer_restaurante, .footer_reserva, .footer_registrarse {
  background-color: #515151;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.footer_restaurante img, .footer_reserva img, .footer_registrarse img {
  width: 100px;
  height: 100px;
  align-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.encabezado {
  background-color: #515151;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.encabezado .encabezado a {
  background-color: #515151;
}

.logo_header {
  width: 90px;
  height: 90px;
  margin-left: 30px;
  background-color: #515151;
}

.menu {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
  gap: 36px;
  background-color: #515151;
  flex-wrap: wrap;
}
.menu .menu_item a {
  text-decoration: none;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  background-color: #515151;
}

.menu_item {
  transform: 1s;
}
.menu_item:hover {
  transform: scale(1.4);
}

.topMasPedidos {
  padding: 40px;
}
.topMasPedidos h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sliders {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  margin: 40px 20px 0px 20px;
}
.sliders img {
  width: 100%;
  border-radius: 3px;
}

h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

.card_categorias {
  display: flex;
  justify-content: center;
  gap: 86px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  margin-bottom: 30px;
}
.card_categorias img {
  width: 100%;
  align-content: space-between;
  border-radius: 50%;
  transition: 0, 5s;
}
.card_categorias img:hover {
  transform: translate(0px, -12px);
}

.card_categorias_tt {
  text-align: center;
}

.mapa_mercado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mapa mapa mercado mercado" "mapa mapa mercado mercado";
  gap: 30px;
  padding: 10px;
  flex-wrap: wrap;
  justify-items: center;
}
.mapa_mercado h3 {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.mapa_mercado_mapa {
  grid-area: mapa;
}

.mapa_mercado_mercado {
  grid-area: mercado;
}

.pie_pagina {
  background-color: #515151;
  display: flex;
  justify-content: space-around;
  gap: 2px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.pie_pagina h2 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 10px;
}

.pie_pagina_redes a {
  text-decoration: none;
}
.pie_pagina_redes .redes {
  width: 40px;
  margin: 4px;
}

.pie_pagina_contacto {
  color: #ffffff;
}
.pie_pagina_contacto h3 {
  font-size: 15px;
}

.tarjetas_peq_gigantes {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  margin: 40px 20px 0px 20px;
}
.tarjetas_peq_gigantes img {
  width: 100%;
  align-content: space-between;
  transition: 0, 5s;
}
.tarjetas_peq_gigantes img:hover {
  transform: translate(0px, -12px);
}

.titulo_quienes_somos {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 30px;
}

.somos p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.somos p::-moz-selection {
  background-color: #eaea3a;
}
.somos p::selection {
  background-color: #eaea3a;
}

.vision h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}
.vision p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.vision p::-moz-selection {
  background-color: #eaea3a;
}
.vision p::selection {
  background-color: #eaea3a;
}

.mision h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}
.mision p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  margin-bottom: 100px;
}
.mision p::-moz-selection {
  background-color: #eaea3a;
}
.mision p::selection {
  background-color: #eaea3a;
}

.logo_quien_s {
  background-color: #515151;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.logo_quien_s img {
  width: 100px;
  height: 100px;
  align-content: center;
}

.slider_reserva {
  margin: 80px 300px;
}

.reservacion {
  background-image: url(../multimedia/fondo.jpg);
  background-size: cover;
  border-radius: 4px;
  font-size: 14px;
  padding: 20px;
  color: #ffffff;
  margin: 0 auto;
  width: 530px;
  margin-bottom: 130px;
}
.reservacion img {
  border-radius: 50%;
  margin: 0 auto;
  width: 180px;
}
.reservacion button {
  font-size: 14px;
  color: #000000;
  border: 0;
  outline: none;
  width: 480px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  transition: 1s;
}
.reservacion button:hover {
  transform: scale(0.9);
}

.titulo_card_restaurantes {
  text-align: center;
}

.card_restaurantes_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin: 50px 45px 50px 45px;
  gap: 60px;
}
.card_restaurantes_2 .card_rest {
  box-shadow: 0 0 8px #515151;
  border-radius: 3px;
  padding: 10px;
  transform: 1s;
}
.card_restaurantes_2 .card_rest:hover {
  transform: scale(1.1);
}
.card_restaurantes_2 .card_rest img {
  width: 100%;
  border-radius: 5px;
}
.card_restaurantes_2 .card_rest h4 {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  margin-top: 9px;
  margin-bottom: 15px;
}
.card_restaurantes_2 .card_rest h5 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 15px;
}
.card_restaurantes_2 .card_rest .img_ubicacion {
  width: 10%;
}
.card_restaurantes_2 .card_rest .reacciones {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card_restaurantes_2 .card_rest .reacciones .reaccion_sevicio {
  gap: 30px;
  width: 10%;
  margin-top: 10px;
}
.card_restaurantes_2 .card_rest .reacciones .reaccion_sevicio path {
  fill: red;
}
.card_restaurantes_2 .card_rest .telefono_card_rest {
  width: 8%;
  margin-top: 10px;
}
.card_restaurantes_2 .card_rest .nume_rest {
  text-decoration: underline;
  color: blue;
}

.encabezado_registrarse {
  margin-bottom: 120px;
}

.formulario {
  background-image: url(../multimedia/fondo.jpg);
  background-size: cover;
  border-radius: 4px;
  font-size: 14px;
  padding: 20px;
  color: #ffffff;
  margin: 0 auto;
  width: 320px;
}
.formulario select {
  margin-bottom: 50px;
}
.formulario button {
  font-size: 14px;
  color: #000000;
  border: 0;
  outline: none;
  width: 280px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  transition: 1s;
}
.formulario button a {
  text-decoration: none;
  color: #000000;
}
.formulario button:hover {
  transform: scale(1.1);
}
.formulario input {
  border: solid 1px #ccc;
  padding: 10px;
  outline: none;
  width: 280px;
  margin-bottom: 10px;
}

.footer_registrarse {
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .encabezado {
    background-color: #515151;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .encabezado .encabezado a {
    background-color: #515151;
  }
  .topMasPedidos h2 {
    font-size: xx-large;
  }
  .sliders {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  .sliders img {
    border-radius: 3px;
  }
  .categorias h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: xx-large;
  }
  .card_categorias {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 40px;
  }
  .card_categorias h4 {
    font-size: large;
  }
  .mapa_mercado {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mapa mapa" "mercado mercado";
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .mapa_mercado h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .mapa_mercado_1 {
    grid-area: mapa;
  }
  .mapa_mercado_2 {
    grid-area: mercado;
  }
}
@media screen and (max-width: 378px) {
  .encabezado {
    background-color: #515151;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .encabezado .encabezado a {
    background-color: #515151;
  }
  .topMasPedidos h2 {
    font-size: xx-large;
  }
  .sliders {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  .categorias h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: xx-large;
  }
  .card_categorias {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 40px;
  }
  .card_categorias h4 {
    font-size: large;
  }
  .mapa_mercado {
    width: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mapa mapa" "mercado mercado";
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .mapa_mercado h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .mapa_mercado_1 {
    grid-area: mapa;
  }
  .mapa_mercado_2 {
    grid-area: mercado;
  }
}
.pie_pagina {
  padding: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
}
.pie_pagina .pie_pagina_redes h2 {
  font-size: 15px;
  margin-top: 10px;
}
.pie_pagina .redes {
  width: 20px;
}

.slider_reserva {
  margin: 80px 12px;
}

.reservacion {
  background-image: url(../multimedia/fondo.jpg);
  background-size: cover;
  border-radius: 4px;
  font-size: 14px;
  padding: 20px;
  color: #ffffff;
  margin: 0 auto;
  width: 330px;
  margin-bottom: 130px;
}
.reservacion img {
  border-radius: 50%;
  margin: 0 auto;
  margin-left: 40px;
  width: 180px;
}
.reservacion button {
  font-size: 14px;
  color: #000000;
  border: 0;
  outline: none;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  transition: 1s;
}
.reservacion button:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .card_restaurantes_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin: 50px 40px 40px 50px;
    gap: 60px;
  }
}
@media screen and (max-width: 378px) {
  .card_restaurantes_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 20px;
    margin: 40px 10px 40px 10px;
  }
  .card_restaurantes_2 .card_rest .img_card_res {
    width: 100%;
    border-radius: 6px;
  }
  .card_restaurantes_2 .card_rest h4 {
    font-size: 15px;
  }
  .card_restaurantes_2 .card_rest h5 {
    font-size: 12px;
  }
  .card_restaurantes_2 .card_rest .telefono_card_rest {
    width: 15px;
  }
  .card_restaurantes_2 .card_rest .nume_rest {
    display: none;
  }
  .card_restaurantes_2 .card_rest .reacciones {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .card_restaurantes_2 .card_rest .reacciones .reaccion_sevicio {
    width: 15%;
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */